<!DOCTYPE html>
<html>
<head>
    <title>Secure Task Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="navbar">
        <h1>Secure Task Manager</h1>
        <div>
            <a href="/">Home</a>
            <a href="/register">Register</a>
            <a href="/login">Login</a>
            <a href="/dashboard">Dashboard</a>
            <a href="/logout">Logout</a>
            <a href="/admin">Admin</a>

        </div>
    </div>

   <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </div>

    <div class="footer">
        Cloud-Based Secure Task Manager | AWS DevSecOps Capstone Project
    </div>

</body>
</html>